.dark-mode{
    background-color: rgb(204, 200, 204);
    color: white;
}
.dark-mode nav{
    background-color: rgb(127, 133, 242);
    color: white;
}

.dark-mode section{
    background-color: indigo
}

.dark-mode .bg-blue-100{
    background-color: indigo;
    color: white;
}

.dark-mode .bg-white{
    background-color: rgb(60, 1, 69);
    color: white;
}

.dark-mode .text-gray-700{
        color: white;
}

.dark-mode .bg-pink-100{
    background-color: rgb(8, 1, 9);
        color: white;
}

